# Flutter/Dart specific
**/ios/Pods/
**/macos/Flutter/Flutter.xcworkspace/
**/macos/Pods/
**/web/build/
**/build/
**/android/app/build/
**/android/build/
**/ios/Runner/build/
**/ios/Flutter/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins.json
.pub/
.pub-cache/
/build/

# IntelliJ/Android Studio
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Flutter IntelliJ Plugin
.flutter-plugins
.DS_Store

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
