<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691177676500-8bk8v02q7mqrfu9eqi2ekq2vrnlg1nk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691177676500-8bk8v02q7mqrfu9eqi2ekq2vrnlg1nk5</string>
	<key>API_KEY</key>
	<string>AIzaSyBFV-9cATsnyPa_oBk-5w7BmB7hm6Hk4aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>691177676500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.openCourse</string>
	<key>PROJECT_ID</key>
	<string>open-course-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>open-course-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691177676500:ios:aa30809251b86d9d7ba541</string>
</dict>
</plist>